@section title 
{
    
}

<div class="d-flex flex-column bd-highlight mb-3 bd-highlight mb-3 py-5 p-5">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <div class="text-start">
                    <h1 class="display-3 fw-bolder mb-5">
                        <a class="navbar-brand p-1" href="#">
                            <img src="./assets/images/logo.svg" width="32" height="32" alt="Cryptex logo">
                        </a>
                        X Market
                        <span class="text-gradient d-inline text-primary">,Manage Selling Digital Assets</span>
                    </h1>
                    <p class="hero-text">
                        Market management system that can meet every market need.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-center justify-content-xxl-start mb-3">
                        <a class="btn btn-dark btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#">Get Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>