tr.highlight> td {
    background-color: #052f4248;
}


@media print {
    body * {
        visibility: hidden;
    }

    #printarea, #printarea * {
        visibility: visible;
    }

    #printarea {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-text {
    font-size: 1.8rem;
    margin-block: 25px 40px;
}